.bikes-bg {
  background-image: linear-gradient(to right, var(--color-0) 30%, var(--color-11) 0%);
}

.bikes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.bikes-img {
  display: grid;
}

.bikes-img img {
  grid-area: 1 / 1;
}

.bikes-img span {
  grid-area: 1 / 1;
  place-self: start end;
  margin-top: 20px;
  display: inline-block;
  background: var(--color-12);
  padding: 8px 16px 8px 8px;
  border-radius: 4px 0 0 4px;
}

.bikes-content {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bikes h2,
.bikes p {
  grid-column: 1 / -1;
}

.bikes h2 {
  margin-bottom: 20px;
}

.bikes h2::before {
  display: block;
  content: '';
  width: 12px;
  height: 8px;
  background-color: var(--color-p1);
  margin-bottom: 8px;
}

.bikes p {
  margin-bottom: 32px;
}

.bikes a {
  place-self: end;
  margin-right: 20px;
}

.bikes li {
  display: flex;
  align-items: center;
}

.bikes li + li {
  margin-top: 16px;
}

.bikes-content img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bikes-bg {
    background: var(--color-11);
  }
  .bikes {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bikes-content {
    grid-template-columns: 1fr;
  }
  .bikes ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }
  .bikes a {
    place-self: start;
  }
}
